pip>=1.8
cython
dill
numpy>=1.11.0
scipy>=0.17.0
simplejson>=3.2.0
git+https://github.com/hgrecco/pint.git@c5925bfdab09c75a26bb70cd29fb3d34eed56a5f#egg=pint
svn+http://code.icecube.wisc.edu/svn/sandbox/schoenen/kde/releases/V00-01-01#egg=schoenen_kde
h5py
line_profiler
matplotlib
uncertainties
