#include settings/binning/pingu_nutau.cfg
#include settings/osc/loiv2.cfg
#include settings/osc/earth.cfg

#------------------------------------------------------------------------------
# Settings directly affecting or handled by the template maker
#------------------------------------------------------------------------------

[pipeline]

# define order of stages to be excecuted one after another, and specify the
# service to use for each of them as stage1:serviceA, stage2:serviceB, ...
order = mc:gpu, combine:nutau, discr_sys:polyfits
param_selections = nh

#------------------------------------------------------------------------------
# MC GPU
#------------------------------------------------------------------------------

[stage:mc]

# instantiation arguments
output_binning = reco_upgoing
;output_binning = reco_upgoing_fine
;error_method = sumw2
;error_method = fixed_sumw2
error_method = None
debug_mode = False
outputs_cache_depth = 10
memcache_deepcopy = False
;output_names = nue_cc, nuebar_cc, numu_cc, numubar_cc, nutau_cc, nutaubar_cc, nue_nc, nuebar_nc, numu_nc, numubar_nc, nutau_nc, nutaubar_nc
output_names = nue_cc+nuebar_cc, numu_cc+numubar_cc, nutau_cc+nutaubar_cc, nuall_nc+nuallbar_nc
;output_names = nue_cc+nuebar_cc+nue_nc+nuebar_nc, numu_cc+numubar_cc+numu_nc+numubar_nc, nutau_cc+nutaubar_cc+nutau_nc+nutaubar_nc

# MC events file
#param.events_file = /fastio/nutau/pingu_v39/events__pingu__v39__runs_620-622__proc_v5.1__unjoined_with_fluxes.hdf5
;param.events_file = /fastio/nutau/pingu_v47/events__PINGU__V47__runs_1003NUE,1003NUMU,1003NUTAU__proc_V5.1.nopid__unjoined_with_fluxes.hdf5
;param.events_file = /fastio/nutau/pingu_v47/events__PINGU__V47__runs_1003NUEPITA,1003NUMUPITA,1003NUTAUPITA__proc_V5.1.pidV47.1__unjoined_with_fluxes.hdf5
param.events_file = /fastio/nutau/pingu_v47/events__PINGU__V47__runs_1013,1003NUEPITA,1003NUMUPITA__proc_V5.1.nopid__unjoined_with_fluxes.hdf5
;param.events_file = /fastio/nutau/pingu_v47/events__PINGU__V47__runs_656-658__proc_V5.1.nopid__unjoined_with_fluxes.hdf5
# BDT cut
param.bdt_cut = 0.2
# use KDE
param.kde = True
;param.kde = False
#cut events lying outside binning
param.cut_outer = False

# ---------- FLUX ------------
# * nu/nubar ratio
param.nu_nubar_ratio = 1.0 +/- 0.15
param.nu_nubar_ratio.fixed = True
param.nu_nubar_ratio.range = nominal + [-3., +3.] * sigma
# * nu_e/nu_mu ratio
param.nue_numu_ratio = 1.0 +/- 0.2
param.nue_numu_ratio.fixed = False
param.nue_numu_ratio.range = nominal + [-0.5, +0.5]
# Barr flux up/horizontal
param.Barr_uphor_ratio = 0.0 +/- 1.0
param.Barr_uphor_ratio.fixed = False
param.Barr_uphor_ratio.range = nominal + [-3.0, +3.0]
# Barr flux nu/nubar
param.Barr_nu_nubar_ratio = 0.0 +/- 1.0
param.Barr_nu_nubar_ratio.fixed = False
param.Barr_nu_nubar_ratio.range = nominal + [-3.0, +3.0]
# Spectral index
param.delta_index = 0.0 +/- 0.1
param.delta_index.fixed = False
param.delta_index.range = nominal + [-5, +5] * sigma

# ---------- OSC ------------
# Preliminary Reference Earth Model
#param.earth_model = osc/PREM_4layer.dat
param.earth_model = osc/PREM_12layer.dat
#param.earth_model = osc/PREM_59layer.dat
# electron densities
param.YeI = <!earth|YeI!>
param.YeM = <!earth|YeM!>
param.YeO = <!earth|YeO!>
# height
param.detector_depth = <!earth|detector_depth!>
param.prop_height = <!earth|prop_height!>
# skip oscillations for NC neutrinos
param.no_nc_osc = False
# solar angle
param.theta12 = <!osc|theta12!>
param.theta12.fixed = True
# reactor angle
param.theta13 = <!osc|theta13!>
param.theta13.fixed = False
param.theta13.range = <!osc|theta13.range!>
# atmospheric angle
param.nh.theta23 = <!osc|theta23_nh!>
param.nh.theta23.fixed = False
param.nh.theta23.range = <!osc|theta23_nh.range!>
param.nh.theta23.prior = uniform
param.ih.theta23 = <!osc|theta23_ih!>
param.ih.theta23.fixed = False
param.ih.theta23.range = <!osc|theta23_ih.range!>
param.ih.theta23.prior = uniform
# dirac phase
param.nh.deltacp = <!osc|deltacp!>
param.nh.deltacp.fixed = True
param.nh.deltacp.range = <!osc|deltacp.range!>
param.nh.deltacp.prior = uniform
param.ih.deltacp = <!osc|deltacp!>
param.ih.deltacp.fixed = True
# solar mass splitting
param.deltam21 = <!osc|deltam21!>
param.deltam21.fixed = True
# atmospheric mass splitting
param.nh.deltam31 = <!osc|deltam31_nh!>
param.nh.deltam31.fixed = False
param.nh.deltam31.prior = uniform
param.nh.deltam31.range = [0.001, +0.007] * units.eV**2
param.ih.deltam31 = <!osc|deltam31_ih!>
param.ih.deltam31.fixed = False
param.ih.deltam31.prior = uniform
param.ih.deltam31.range = [-0.1, +0.1] * units.eV**2

; ---------- SCALES ------------
;param.livetime = 7.5 units.common_year
;param.livetime = 4.0 units.common_year
;param.livetime.unique_id = pingu_livetime
;param.livetime = 72 * units.months
param.livetime = 3.0 units.common_year
; overall neutrino norm
param.aeff_scale = 1.0
param.aeff_scale.fixed = False
#param.aeff_scale.prior = jeffreys
param.aeff_scale.prior = uniform
param.aeff_scale.range = [0.7, 1.3] * units.dimensionless
; CC tau neutrino norm
param.nutau_cc_norm = 1.0
param.nutau_cc_norm.fixed = True
param.nutau_cc_norm.range = [-1.0, 2.0] * units.dimensionless
param.nutau_cc_norm.prior = uniform

param.nutau_norm = 1.0
param.nutau_norm.fixed = False
param.nutau_norm.range = [-1.0, 2.0] * units.dimensionless
param.nutau_norm.prior = uniform
# NC norm
#param.nu_nc_norm = 1.0 +/- 0.2
#param.nu_nc_norm.fixed = False
#param.nu_nc_norm.range = nominal + [-.5,+.5]

# ---------- THEO ------------
# Genie axial masses
# Quasi Elastic
param.Genie_Ma_QE = 0.0 +/- 1.0
param.Genie_Ma_QE.fixed = True
param.Genie_Ma_QE.range = nominal + [-3.0, +3.0]
# Resonance
param.Genie_Ma_RES = 0.0 +/- 1.0
param.Genie_Ma_RES.fixed = True
param.Genie_Ma_RES.range = nominal + [-3.0, +3.0]

#reco sys raw (these are just used during slope fits)
param.reco_e_res_raw = 1.0
param.reco_e_scale_raw = 1.0
param.reco_cz_res_raw = 1.0

[stage:combine]

outputs_cache_depth = 0
input_binning = <!stage:mc|output_binning!>

input_names = <!stage:mc|output_names!>
combine_groups = {'evts':'<!stage:mc|output_names!>'}

# NC norm
param.nu_nc_norm = 1.0 +/- 0.2
param.nu_nc_norm.fixed = True
param.nu_nc_norm.range = nominal + [-.5,+.5]

#------------------------------------------------------------------------------
# SYS POLYFITS
#------------------------------------------------------------------------------

[stage:discr_sys]
outputs_cache_depth = 0
input_binning = <!stage:mc|output_binning!>
output_binning = <!stage:discr_sys|input_binning!>
input_names = evts
error_method = fixed

# DOM efficiency
param.dom_eff = 1.0 +/- 0.1
param.dom_eff.fixed = False
param.dom_eff.range = [0.88, 1.12] * units.dimensionless
param.dom_eff_file = discr_sys/dom_eff_sysfits_pingu_gauss.json

# hole ice scattering
param.hole_ice = 25 +/- 10.
param.hole_ice.fixed = False
param.hole_ice.range = [15, 35]* units.dimensionless
param.hole_ice_file = discr_sys/hole_ice_sysfits_pingu_gauss.json

# hole ice forward
param.hole_ice_fwd = 0.0
param.hole_ice_fwd.prior = uniform
param.hole_ice_fwd.fixed = False
param.hole_ice_fwd.range = [-5.0, 2.0]* units.dimensionless
param.hole_ice_fwd_file = discr_sys/hole_ice_fwd_sysfits_pingu_gauss.json
